body{
    text-align: center;
     background: linear-gradient(#24e08f 0%, #0ee8e1 100%);
    padding-bottom: 100%;
    padding-top: 50px;
}
h1{
    font-family:sans-serif;
}
#Welcome{
    padding: 50px;
}
#person{
    border-radius: 10%;
}
#bio{
   padding-left: 20px;
       padding-right: 20px;
    font-size: 18px;
}